<div class="container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened="true" class="mat-elevation-z6">
            <mat-nav-list>
                <a mat-list-item>
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="        height: 240px;
        width: 100%;
        background-image: linear-gradient(36deg, rgba(177, 177, 177, 0.03) 0%, rgba(177, 177, 177, 0.03) 16.667%,rgba(95, 95, 95, 0.03) 16.667%, rgba(95, 95, 95, 0.03) 33.334%,rgba(237, 237, 237, 0.03) 33.334%, rgba(237, 237, 237, 0.03) 50.001000000000005%,rgba(28, 28, 28, 0.03) 50.001%, rgba(28, 28, 28, 0.03) 66.668%,rgba(174, 174, 174, 0.03) 66.668%, rgba(174, 174, 174, 0.03) 83.33500000000001%,rgba(51, 51, 51, 0.03) 83.335%, rgba(51, 51, 51, 0.03) 100.002%),linear-gradient(195deg, rgba(11, 11, 11, 0.02) 0%, rgba(11, 11, 11, 0.02) 25%,rgba(107, 107, 107, 0.02) 25%, rgba(107, 107, 107, 0.02) 50%,rgba(228, 228, 228, 0.02) 50%, rgba(228, 228, 228, 0.02) 75%,rgba(155, 155, 155, 0.02) 75%, rgba(155, 155, 155, 0.02) 100%),linear-gradient(262deg, rgba(234, 234, 234, 0.03) 0%, rgba(234, 234, 234, 0.03) 16.667%,rgba(191, 191, 191, 0.03) 16.667%, rgba(191, 191, 191, 0.03) 33.334%,rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001000000000005%,rgba(85, 85, 85, 0.03) 50.001%, rgba(85, 85, 85, 0.03) 66.668%,rgba(222, 222, 222, 0.03) 66.668%, rgba(222, 222, 222, 0.03) 83.33500000000001%,rgba(38, 38, 38, 0.03) 83.335%, rgba(38, 38, 38, 0.03) 100.002%),linear-gradient(34deg, rgba(192, 192, 192, 0.03) 0%, rgba(192, 192, 192, 0.03) 16.667%,rgba(200, 200, 200, 0.03) 16.667%, rgba(200, 200, 200, 0.03) 33.334%,rgba(23, 23, 23, 0.03) 33.334%, rgba(23, 23, 23, 0.03) 50.001000000000005%,rgba(224, 224, 224, 0.03) 50.001%, rgba(224, 224, 224, 0.03) 66.668%,rgba(181, 181, 181, 0.03) 66.668%, rgba(181, 181, 181, 0.03) 83.33500000000001%,rgba(34, 34, 34, 0.03) 83.335%, rgba(34, 34, 34, 0.03) 100.002%),linear-gradient(281deg, rgba(11, 11, 11, 0.03) 0%, rgba(11, 11, 11, 0.03) 20%,rgba(29, 29, 29, 0.03) 20%, rgba(29, 29, 29, 0.03) 40%,rgba(91, 91, 91, 0.03) 40%, rgba(91, 91, 91, 0.03) 60%,rgba(239, 239, 239, 0.03) 60%, rgba(239, 239, 239, 0.03) 80%,rgba(19, 19, 19, 0.03) 80%, rgba(19, 19, 19, 0.03) 100%),linear-gradient(268deg, rgba(211, 211, 211, 0.02) 0%, rgba(211, 211, 211, 0.02) 25%,rgba(137, 137, 137, 0.02) 25%, rgba(137, 137, 137, 0.02) 50%,rgba(14, 14, 14, 0.02) 50%, rgba(14, 14, 14, 0.02) 75%,rgba(220, 220, 220, 0.02) 75%, rgba(220, 220, 220, 0.02) 100%),linear-gradient(139deg, rgba(248, 248, 248, 0.03) 0%, rgba(248, 248, 248, 0.03) 12.5%,rgba(185, 185, 185, 0.03) 12.5%, rgba(185, 185, 185, 0.03) 25%,rgba(243, 243, 243, 0.03) 25%, rgba(243, 243, 243, 0.03) 37.5%,rgba(13, 13, 13, 0.03) 37.5%, rgba(13, 13, 13, 0.03) 50%,rgba(99, 99, 99, 0.03) 50%, rgba(99, 99, 99, 0.03) 62.5%,rgba(193, 193, 193, 0.03) 62.5%, rgba(193, 193, 193, 0.03) 75%,rgba(241, 241, 241, 0.03) 75%, rgba(241, 241, 241, 0.03) 87.5%,rgba(38, 38, 38, 0.03) 87.5%, rgba(38, 38, 38, 0.03) 100%),linear-gradient(52deg, rgba(171, 171, 171, 0.02) 0%, rgba(171, 171, 171, 0.02) 20%,rgba(118, 118, 118, 0.02) 20%, rgba(118, 118, 118, 0.02) 40%,rgba(7, 7, 7, 0.02) 40%, rgba(7, 7, 7, 0.02) 60%,rgba(235, 235, 235, 0.02) 60%, rgba(235, 235, 235, 0.02) 80%,rgba(190, 190, 190, 0.02) 80%, rgba(190, 190, 190, 0.02) 100%),linear-gradient(90deg, rgb(69,33,226),rgb(150,86,183));
">
                <mat-toolbar class="toolbar mat-elevation-z6">
                    <button mat-icon-button (click)="snav.toggle()">
                        <mat-icon class="toggle-sidenav-icon">
                            {{ (snav.opened) ? 'account_balance_wallet' : 'account_balance' }}
                        </mat-icon>
                    </button>
                    <h1 class="app-name">
                        <a routerLink="/">
                            Preudhomme Management
                        </a>
                    </h1>
                    <input type="search" class="mat-elevation-z2 search-input" placeholder="Rechercher...">
                    <div class="flex-spacer"></div>
                    <div class="full-height admin-panel">
                        <!--*ngIf="userInfo && userInfo.isApplicationAdmin"-->
                        <button mat-button [matMenuTriggerFor]="adminPanel" class="button-settings">
                            <mat-icon>settings</mat-icon>
                            <span class="admin-panel-text">
                                Panel d'administration
                            </span>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #adminPanel="matMenu" yPosition="below" [overlapTrigger]="false">
                            <!-- <a routerLink="/" routerLinkActive="active" mat-menu-item>
                                <mat-icon>home</mat-icon>
                                <span>Home</span>
                            </a>
                            <a routerLink="/assets/list" routerLinkActive="active" mat-menu-item>
                                <mat-icon>calendar_today</mat-icon>
                                <span>Liste des assets</span>
                            </a>
                            <a routerLink="/dashboard" routerLinkActive="active" mat-menu-item>
                                <mat-icon>build</mat-icon>
                                <span>Tableau de bord</span>
                            </a> -->
                        </mat-menu>
                    </div>
                    <div class="user-infos">
                        <!--*ngIf="userInfo-->
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    John Doe
                                </div>
                                <div class="widget-subheading">
                                    Administrateur
                                </div>
                            </div>
                            <button mat-icon-button [matMenuTriggerFor]="menuUser">
                                <mat-icon class="user-icon white">
                                    person
                                </mat-icon>
                            </button>
                        </div>

                        <mat-menu #menuUser="matMenu" yPosition="below" [overlapTrigger]="false" class="user-info-menu">
                            <mat-card>
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="../../../assets/images/avatar.png" />
                                    </div>
                                    <!--<mat-card-title>{{ userInfo.displayName }}</mat-card-title>
                        <mat-card-subtitle>{{ userInfo.isApplicationAdmin ? 'Manager' : 'User' }}</mat-card-subtitle>-->
                                    <mat-card-title>John Doear</mat-card-title>
                                    <mat-card-subtitle>
                                        Administrateur
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-divider></mat-divider>
                                <mat-card-content>
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon class="icon-margin-right">description</mat-icon>
                                            <!--<span class="subtitle">{{ userInfo.employeeId }}</span>-->
                                            s=
                                            <span class="subtitle">
                                                su
                                                Test
                                            </span>
                                            su
                                        </mat-list-item>

                                        <mat-list-item>
                                            <mat-icon class="icon-margin-right">mail</mat-icon>
                                            <span class="subtitle">jonhdoe@gmail.com</span>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-icon class="icon-margin-right">call</mat-icon>
                                            <span class="subtitle">0604151345</span>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </mat-menu>
                    </div>

                    <button mat-icon-button (click)="toggleNotifications()" class="notifications-button">
                        <mat-icon class="toggle-notifications-icon" matBadge="15" matBadgeColor="warn">
                            notifications
                        </mat-icon>
                    </button>
                </mat-toolbar>
            </div>
            <div class="content-container">
                <mat-card class="mat-elevation-z4 app-container">
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
            <!--<app-footer></app-footer>-->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
